@{
    ViewData["Title"] = "Kiosk";
}

<h1>Kiosk</h1>
<div class="btn-group">
    <a class="btn btn-primary" asp-action="Rent">Rent Vehicle</a>
    <a class="btn btn-secondary" asp-action="Return">Return Vehicle</a>
</div>
